<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'fishing', media:'all' %>
    <%= javascript_include_tag 'fishing' %>
  </head>
  <body>
    <div class="container">
      <h2>Result</h2>
      <p>This is an anti-phishing training site.</p>
    </div>
  </body>
</html>
