<ol class="breadcrumb">
  <li><%= link_to icon_campaigns(text:t('.campaigns')), admin_campaigns_path %></li>
  <li class="active"><%= t('.action') %></li>
</ol>
<%= component_notice %>
<%= render 'form', campaign: @campaign %>
