<ol class="breadcrumb">
  <li class="active"><%= t('.title') %></li>
</ol>
<table class="table table-hover table-condensed">
  <thead>
    <tr>
      <th>CID</th>
    </tr>
  </thead>
  <tbody>
    <% Event.where.not(cid:nil).uniq.pluck(:cid).each do |cid| %>
    <tr>
      <td><%= cid %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<table class="table table-hover table-condensed">
  <thead>
    <tr>
      <th>PID</th>
    </tr>
  </thead>
  <tbody>
    <% Event.where.not(pid:nil).uniq.pluck(:pid).each do |pid| %>
    <tr>
      <td><%= pid %></td>
    </tr>
    <% end %>
  </tbody>
</table>
